{% extends "normal/base.html" %}

{% load staticfiles %}
{% block title %}发布权限管理{% endblock %}

{% block content %}
{% include "normal/release/navigation.html" %}
{% include "normal/release/auth_pro.html" %}
{% endblock %}

{% block chosen_js_file %}
<link href="{% static 'css/libs/multi-select.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/libs/jquery/jquery.multi-select.js' %}"></script>

<script type="text/javascript" src="{% static 'js/angular-factory/release/Project_Group.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-factory/release/Project_Item.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-factory/release/Log_Save.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-factory/auth_control/Family.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-factory/auth_control/Group.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-factory/auth_control/Member.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/release/main_page_ctrl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/release/auth_control_ctrl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/release/Log_Check.js' %}"></script>
{% endblock %}
                                                                                                                
