{% extends "normal/base.html" %}

{% load staticfiles %}
{% block title %}server_info{% endblock %}

{% block content %}
{% include "normal/navigation.html" %}
{% include "normal/servers_detail.html" %}
{% include "normal/time.html" %}
{% endblock %}

{% block chosen_js_file %}
<link href="{% static 'css/libs/bootstrap-table.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/libs/bootstrap/bootstrap-table.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/user_ctrl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-factory/Servers_Info.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/servers_detail_ctrl.js' %}"></script>
{% endblock %}
