{% extends "normal/base.html" %}

{% load staticfiles %}
{% block title %}relax{% endblock %}

{% block content %}
{% include "normal/navigation.html" %}
{% include "normal/music_player.html" %}
{% include "normal/time.html" %}
{% endblock %}

{% block chosen_js_file %}
<script type="text/javascript" src="{% static 'js/angular-controller/Sound2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/angular/angular-soundmanager2-change.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/upload.js' %}"></script>

<script type="text/javascript" src="{% static 'js/libs/bootstrap/bootstrap-slider-jquery-comb.js' %}"></script>

<script type="text/javascript" src="{% static 'js/angular-factory/Music.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-factory/Game_Script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-factory/Excuted_Command.js' %}"></script>

<script type="text/javascript" src="{% static 'js/angular-controller/game_script_ctrl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/excuted_command_ctrl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/user_ctrl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/music_ctrl.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/PlayerController.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-controller/game_login.js' %}"></script>
{% endblock %}
