<div ng-controller='pull_code_ctrl'>
    <div class="alert alert-info" role="alert">
        <div class="col-md-12 column">
                <span class="text-warning">&nbsp;&nbsp;    临时命令（ip向管理员索取 ,example(非root权限):&nbsp;&nbsp;&nbsp;&nbsp;127.0.0.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;echo 1      )</span>
        </div>
        <br/>
        <br/>
        <div class="col-md-4 column">
            <div class="col-md-5 column">
                <span>输入执行机器ip</span>
            </div>
            <div class="col-md-7 column">
                <input class="form-control" ng-model='machine.ip'>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="col-md-3 column">
                <span>输入执行的命令</span>
            </div>
            <div class="col-md-9 column">
                <input class="form-control" ng-model='machine.command'>
            </div>
        </div>
        <div class="col-md-2 column">
            <div class="col-md-2 column">
                <button class="btn btn-primary ((pull_show))" ng-click="temporary_command(machine)">执行命令</button>

            </div>
        <br/>
        <br/>
        </div>
        <br/>
        <br/>
    </div>
    <div class="alert alert-warning" role="alert">    
        <div class="col-md-2 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    项目组名 </span>
        </div>
        <div class="col-md-3 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    输入自定义yml </span>
        </div>
        <div class="col-md-3 column">
            <span>&nbsp;&nbsp;    输入自定义yml的说明 </span>
        </div>
        <div class="col-md-2 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    操作 </span>
        </div>
        <div class="col-md-2 column">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    所花时长(秒)</span>
        </div>
        <br/>
    </div>
    <div class="col-md-12 column"></div>
	<div class="col-md-12 column alert alert-info" role="alert" ng-init="search_yml()">
        <div ng-repeat="i in yml_set" class="col-md-12 column">
            <div class="col-md-2 column">
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;((process_directory['pro_group_name']))</h5>
            </div>
            <div class="col-md-3 column">
                <h5 ng-show='!costome_hide[i.yml_full_distination]'>&nbsp;&nbsp;&nbsp;&nbsp;((i.yml_name)) <span class="glyphicon glyphicon-resize-full handpointer" ng-click="costomehide(i.yml_full_distination)" aria-hidden="true"></span></h5>
                <h5 ng-show='costome_hide[i.yml_full_distination]'>&nbsp;&nbsp;&nbsp;&nbsp;((i.yml_full_distination)) <span class="glyphicon glyphicon-resize-small handpointer" ng-click="costomehide(i.yml_full_distination)" aria-hidden="true"></span></h5>
            </div>
            <div class="col-md-3 column">
                <h5>&nbsp;&nbsp;&nbsp;&nbsp;((i.yml_explain))</h5>
            </div>
            <div class="col-md-2 column">
                <div class="col-md-2 column"></div>
                <button class="btn btn-primary ((pull_show))" ng-click="yml_exe(project_group, i.yml_full_distination)">执行</button>
            </div>
            <div class="col-md-2 column">
                <div class="col-md-3 column"></div>
                <span ng-show="cost_time[i.yml_full_distination]">耗时 ((cost_time[i.yml_full_distination]))</span>
            </div>
            <br/>
            <hr/>
        </div>
    </div>
    <div class="col-md-12 column alert alert-warning" role="alert">

        <h5><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>自定义的功能添加规则：在相应release的发布的yml同级目录下，新建costume文件夹，在该文件夹下，任意写yml文件即可，请联系管理员。</h5>
    </div>
    <!--
        <div class="col-md-12 column alert alert-warning" role="alert">    
            <div class="col-md-3 column">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    yml列表 </span>
            </div>
            <div class="col-md-9 column">
                <span>&nbsp;&nbsp;&nbsp;&nbsp;    yml说明 </span>
            </div>
            <br/>
        </div>
    <div class="col-md-12 column alert alert-success" role="alert">    
        <div ng-repeat="i in yml_set">
            <div class="col-md-3 column">
                <span>&nbsp;&nbsp;((i[0]))</span>
            </div>
            <div class="col-md-9 column">
                <span>&nbsp;&nbsp;((i[1]))</span>
            </div>
        <br/>
        </div>
    </div>
    -->
    <div class="col-md-12 column" ng-show="wait_flag">
	<span>((wait_msg))</span>
        <img ng-src="../../static/images/loading3.gif"  alt="" />
    </div>
    <div class="col-md-12 column">
	<span>返回结果:</span>
	<br/>
	<textarea rows="5"  class="form-control" readonly="readonly">((simple_log))</textarea>
    </div>
    <br/>
    <br/>
    <div class="col-md-12 column">
        <div class="col-md-6 column">
	        <span>返回细节:</span>
	        <br/>
	        <textarea rows="10"  class="form-control" readonly="readonly">((complex_log))</textarea>
	    <br/>
        </div>
        <div class="col-md-6 column">
	        <span>错误日志:</span>
	        <br/>
	        <textarea rows="10"  class="form-control" readonly="readonly">((error_log))</textarea>
	    <br/>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
