<div ng-controller="TabsCtrl">
    <div class="col-md-2 alert alert-success" role="alert">
        <div ng-controller="upload" class="col-md-12 column">
            <div ngf-drop ngf-select ng-model="mp3file" ng-change="upload(mp3file)"
            ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
            accept="image/*,application/pdf">
                <img ng-src="../../../../static/images/neko2.jpg"  width="210" height="150" tooltip="直接拖曳图片到此，更换图片"  tooltip-trigger="mouseenter" tooltip-placement="right"/>
                <br/>
                <br/>
            </div>
        </div>
        <br/>
        <br/>
        <tabset vertical="true" type="pills">
        <tab ng-repeat="tab in tabs" class="handpointer"  active="tab.active" disabled="tab.disabled" ui-sref="((tab.url))">
            <tab-heading>
            <span class="glyphicon glyphicon-cloud" aria-hidden="true"> ((tab.title))</span>
            </tab-heading>
        </tab>
        </tabset>
        <br/>
        <br/>
        <div ng-controller="upload" class="col-md-12 column">
            <div ngf-drop ngf-select ng-model="mp3file" ng-change="upload(mp3file)"
                ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true"
                accept="image/*,application/pdf">
                <img ng-src="../../../../static/images/neko1.jpg"  width="210" height="150" tooltip="直接拖曳图片到此，更换图片"  tooltip-trigger="mouseenter" tooltip-placement="right"/>
            </div>  
        </div>  
        <br/>
        <br/>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="span6">
                <div class="well" ui-view></div>        
            </div>
        </div>         
    </div>
</div>

