<div class="col-md-12 column" ng-controller="game_login">
    <div class="col-md-4">
        <label>loginname:</label>
        <input type="text" name="loginname" class="form-control" id="" value="" ng-model="accname" />
        <label>domain:</label>
        <input type="text" name="domain" class="form-control" id="" value="" ng-model="domain" />
        <label>serverid:</label>
        <input type="text" name="serverid" class="form-control" id="" ng-model="serverid" />
        <label>key:</label>
        <input type="text" name="key" class="form-control" id="" value="uqee20110301" placeholder="uqee20110301" ng-model="key"/>
        <br />
        <a href="((login_url))" target="_blank"><button class="btn btn btn-primary">lyingdragon login!</button></a>
    </div>
    <div class="row col-md-10">
    <ul>
        <li>domain:  ((domain))</li>
        <li>accid:  ((accid))</li>
        <li>accname:  ((accname))</li>
        <li>tstamp:  ((tstamp))</li>
        <li>serverid:  ((serverid))</li>
        <li>ticket:  ((ticket))</li>
        <li>login_url:  ((login_url))</li>
    </ul>
    </div>
</div>

<!-- need js file:
js/libs/angular/angular-md5.js
js/angular-controller/game_login.js 
-->
